
<div class="ps-5 p-3">
<h2>Your movie lists</h2>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list)%></li>
    <% end %>
  </ul>
  <p><%= link_to "Add new list", new_list_path%></p>
</div>
